<%include header%>
<form method="post">
    <input type="text" class="form-control" placeholder="标题" name="title"/>
    <textarea class="form-control articalContent" rows="3" name="post"></textarea>
    <button class="btn btn-info postInfor" type="submit">发表</button>
</form>
<%include footer%>